@model IEnumerable<departmentMVC.Models.Department>

@{
    ViewData["Title"] = "DepartmentView";
}

<h1>DepartmentView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptLoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptLoc)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.DeptId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.DeptId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.DeptId })
            </td>
        </tr>
}
    </tbody>
</table>
